img {
    display: block;
    margin: 50px auto;
}

#clockFace {
    z-index: -1;
    position: relative;
    bottom: 270px;
    border-style: groove;
    border-color: black;
    border-width: 7px;
    border-radius: 95%;

}

#stats {
    margin-right: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stats l {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: aquamarine;
    border-style: ridge;
    border-color: coral;
    border-radius: 15%;
    margin-right: 20px;
    margin-left: 20px;
}