body {
    background-image: url(brickpics/bliss.webp);
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    max-width: 100%;
    user-select: none;
    text-shadow: rgb(0, 0, 0) 5px 5px;
}

img, p, #days {
    display: block;
    margin: 50px auto;
    text-align: center;
    transition-duration: 1s;
}

#clockFace, #ourBrick {
    z-index: -1;
    position: relative;
    bottom: 270px;
    border-style: groove;
    border-color: black;
    border-width: 7px;
    border-radius: 95%;
}

#ourBrick {
    border-radius: 10%;
    position: inherit;
}

#fingerTime  {
    transform-origin: center;
}

#stats {
    display: flex;
    align-items: center;
    margin: 0px 25% 0px 25%;
}

p, #stats l {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(205, 70, 70);
    border-style:groove;
    border-color: black;
    border-radius: 15%;
}

#days {
    border-radius: 5%;
}

#controls {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    position: relative;
    bottom: 265px;
    margin: 30px 30% 0px 30%;
    border-radius: 7%;
    background-color: rgb(10, 10, 10);

}

#brickName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    position: relative;
    margin: 30px 40% 0px 40%;
    color: rgb(255, 255, 255);
    background-color: rgb(205, 70, 70);
    border-style:groove;
    border-color: black;
    border-radius: 7%;
}

#controls p {
    margin: 15px 31% 20px 31%;
}

#days {
    position: relative;
    bottom: 270px;
    margin: 0px 30% 0px 30%;
}